* {
  margin: 0;
}
header {
  height: 80px;
  background-color: deepskyblue;
  padding-left: 25px;
  padding-right: 25px;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}
img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}
ul,
li {
  text-decoration: none;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
footer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 50px;
  background-color: darkturquoise;
}
